body {
    background-color: rgb(224, 203, 255);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1 {
    font-family: 'Baloo Bhaina', cursive;
    font-size: 12em;
    margin-top: -50px;
    color: rgba(124, 103, 155, 0.5);
}
